:root {
    --black: #000411;
    --gray: #aeb7b3;
    --mint: #e1efe6;
    --yellow: #7287e2;
    --purple: #160c28;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #f3f3f3;
    color: var(--black);
    position: relative;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: var(--yellow);
  }
  
  .title {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .heading {
    margin: 0;
  }
  
  .main-button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 5px 10px;
    font-family: inherit;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
  }
  
  .save-button {
    background-color: #3ec42c;
    color: #fff;
  }
  
  .send-button {
    background-color: #818174;
    color: #fff;
  }
  
  .main-button:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding: 40px 20px;
  }
  
  .left,
  .right {
    display: flex;
    flex-direction: column;
  }
  
  .left label {
    margin-bottom: 7px;
  }
  
  .right label {
    margin-bottom: 7px;
  }
  
  .confidential {
    font-size: 10px;
    color: #414544;
    margin-bottom: 20px;
  }
  
  .input {
    font-family: inherit;
    font-size: 11px;
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 5px;
  }
  
  .add-rss {
    display: flex;
  }
  
  .rss-input {
    flex: 1;
  }
  
  .add-button {
    background-color: #3ec42c;
    color: #fff;
  }
  
  .rss-button {
    margin-top: 70px;
    text-align: left;
    background-color: #fff;
    width: 70%;
  }

